# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
webapp/node_modules
/.pnp
.pnp.js

# testing
/webapp/coverage

# production
webapp/build

npm-debug.log*
yarn-debug.log*
yarn-error.log*

restapi/node_modules
restapi/data

mobileapp/node_modules
mobileapp/.vscode
mobileapp/.expo
mobileapp/.expo-shared

node_modules
.vscode


.eslintcache
restapi/tests/api.test.js
restapi/coverage/clover.xml
restapi/coverage/coverage-final.json
restapi/coverage/lcov.info
restapi/coverage/lcov-report/base.css
restapi/coverage/lcov-report/block-navigation.js
restapi/coverage/lcov-report/favicon.png
restapi/coverage/lcov-report/index.html
restapi/coverage/lcov-report/prettify.css
restapi/coverage/lcov-report/prettify.js
restapi/coverage/lcov-report/sort-arrow-sprite.png
restapi/coverage/lcov-report/sorter.js
restapi/coverage/lcov-report/restapi/admin.js.html
restapi/coverage/lcov-report/restapi/api.js.html
restapi/coverage/lcov-report/restapi/index.html
restapi/coverage/lcov-report/restapi/middleware/AdminChecker.js.html
restapi/coverage/lcov-report/restapi/middleware/BlacklistMiddleware.js.html
restapi/coverage/lcov-report/restapi/middleware/FriendsStore.js.html
restapi/coverage/lcov-report/restapi/middleware/index.html
restapi/coverage/lcov-report/restapi/middleware/MockAuthMiddleware.js.html
restapi/coverage/lcov-report/restapi/middleware/WebIdQueryChecker.js.html
restapi/coverage/lcov-report/restapi/models/Admin.js.html
restapi/coverage/lcov-report/restapi/models/Blacklisted.js.html
restapi/coverage/lcov-report/restapi/models/index.html
restapi/coverage/lcov-report/restapi/models/TrackedLocation.js.html
restapi/coverage/lcov-report/restapi/tests/index.html
restapi/coverage/lcov-report/restapi/tests/server-for-tests.js.html
restapi/.idea/.gitignore
restapi/.idea/modules.xml
restapi/.idea/restapi.iml
restapi/.idea/vcs.xml
restapi/.idea/codeStyles/codeStyleConfig.xml
restapi/.idea/codeStyles/Project.xml
restapi/.idea/inspectionProfiles/Project_Default.xml
webapp/.idea/.gitignore
webapp/.idea/modules.xml
webapp/.idea/vcs.xml
webapp/.idea/webapp.iml
webapp/.idea/inspectionProfiles/Project_Default.xml
webapp/.idea/stylesheetLinters/stylelint.xml
