.slick-slide img {
    margin: auto;
}

.slick-slide .carouselText {
    text-align: center;
    justify-content: center;
}

.contain {
    padding: 40px;
}

.carouselButton {
    text-align: center;
    margin-top: 4em;
}

a:hover {
    color: #fff;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
}
