.loch1 {
    font-size: 1.8rem;
}

.loch2 {
    font-size: 1.3rem;
}

.loctext {
    font-size: 1rem;
}

.fabcontainer {
    display: flex;
    justify-content: flex-end;
}

.pictureButton {
    margin: 20px 20px 20px 50px;
}

.picture {
    width: 100%;
    max-width: 150px;
}

.divCenter {
    text-align: center;
}

.text {
    padding-bottom: 2em;
    padding-top: 4em;
}

.loginButton {
    margin-top: 5em;
}
